form {
    width: 300px;
    margin: auto;
    text-align: left;
}

input, button, label {
	width: 100%;
    box-sizing: border-box;
    font-size: large;
    margin-bottom: 20px;
}

span {
    position: absolute;
    margin: 0 10px;
    color: red;
    font-size: large;
}
