<div>
    <p>
        our shoes:<br />
        <img name="blackAdidas" src="../../../../assets/images/blackAdidas.png">
        <img name="greyAdidas" src="../../../../assets/images/greyAdidas.png">
        <img name="redAdidas" src="../../../../assets/images/redAdidas.png">
        <img name="blackVans" src="../../../../assets/images/blackVans.png">
        <img name="whiteAirForce" src="../../../../assets/images/whiteAirForce.png">
        <img name="whiteAndBlackAirForce" src="../../../../assets/images/whiteAndBlackAirForce.png">
    </p>
</div>